header {
  background: #fcfcfc;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  z-index: 1000; }
  header nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between; }
    header nav > ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      header nav > ul li {
        padding: 5px 10px;
        display: inline-block;
        position: relative; }
        header nav > ul li .fa {
          position: relative;
          top: -3px;
          color: #f73859;
          margin-left: 20px; }
        header nav > ul li a {
          color: black; }
          header nav > ul li a:hover {
            color: black;
            text-decoration: none; }
        header nav > ul li:hover {
          cursor: pointer;
          transition: all ease 0.5s;
          background: #f1ebeb;
          border-radius: 2px; }
        header nav > ul li > ul {
          left: 0;
          padding: 0;
          width: 100%;
          margin: 0;
          margin-top: 4px;
          position: absolute;
          display: none;
          background: #f73859; }
          header nav > ul li > ul > li {
            transition: all ease 0.5s;
            width: 100%; }
            header nav > ul li > ul > li > a {
              color: white; }
              header nav > ul li > ul > li > a:hover {
                color: white; }
            header nav > ul li > ul > li:hover {
              transition: all ease 0.5s;
              background: #ee2144; }

.btn {
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
  border-radius: 3px;
  padding: 5px 10px;
  color: white; }
  .btn:hover {
    cursor: pointer;
    color: white; }
  .btn:first-child {
    margin-left: 0px; }

.btn-container {
  display: flex;
  justify-content: center; }

.btn-accept {
  background: #1695d0 !important; }

.btn-cancel {
  background: #d74753; }

.btn-trash {
  font-size: 8pt;
  padding: 2px 6px !important;
  background: #d74753; }

.btn-action {
  font-size: 10pt;
  background: #f73859; }
  .btn-action:hover {
    background: #ee2144; }
  .btn-action span {
    font-size: 14pt; }

body {
  background: #c8cfcd; }

section {
  margin-top: 10px;
  background: #fcfcfc;
  padding: 10px; }
  section .sectionHeader {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    section .sectionHeader h2 {
      font-size: 18pt;
      margin: 0;
      font-family: 'Roboto',sans-serif; }
    section .sectionHeader p {
      color: #f73859;
      margin: 0; }
    section .sectionHeader .actionButtons {
      flex: auto;
      display: flex;
      justify-content: flex-end; }

.small {
  width: 480px; }

.rowList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.rowItem {
  margin: 10px;
  display: flex;
  width: 100%;
  flex-wrap: wrap; }
  .rowItem p {
    padding: 0;
    margin: 0; }
  .rowItem .rowName {
    font-size: 12pt;
    border-bottom: 1px solid #222831;
    width: 40%; }
  .rowItem .onlyShow {
    border-bottom: 1px solid #222831 !important; }
  .rowItem .searchInput {
    font-family: "Roboto", sans-serif !important;
    background: #f1ebeb !important; }
  .rowItem .rowValue {
    background: none;
    height: 26;
    padding-left: 5px;
    width: 60%;
    border: none;
    border-bottom: 1px solid #f73859;
    font-size: 12pt; }
    .rowItem .rowValue > select {
      border: none; }
    .rowItem .rowValue:focus ~ .rowAggregate {
      opacity: 1; }
    .rowItem .rowValue:focus {
      outline: 0; }
  .rowItem .rowAggregate {
    transition: all ease 0.5s;
    opacity: 0;
    font-size: 10pt;
    width: 100%; }

.productList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; }
.productListBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; }
  .productListBox:hover {
    text-decoration: none;
    color: #ee2144; }

.productItemBox {
  color: #222831;
  padding: 20px;
  border-radius: 4px;
  background: #f1ebeb; }
  .productItemBox:hover {
    color: #f73859; }


.card {
  margin: 20px auto; }

.corusesList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }

.courseItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f73859;
  font-size: 14pt;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px;
  transition: all ease 0.5s;
  color: #222831; }
  .courseItem:hover {
    text-decoration: none;
    cursor: pointer;
    border-color: #ee2144;
    background: #ee2144;
    color: white; }

.studentList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row; }

.studentItem {
  margin: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .studentItem .imgPart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #f73859; }
    .studentItem .imgPart img {
      background: #fcfcfc;
      border-radius: 50%;
      width: 100%;
      height: 100%; }
    .studentItem .imgPart .mask {
      border-radius: 50%;
      position: absolute;
      width: 80px;
      height: 80px;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(247, 56, 89, 0.7);
      transition: all ease 0.7s; }
      .studentItem .imgPart .mask span {
        font-size: 1.2rem;
        color: white; }
  .studentItem .namePart {
    font-size: 12pt;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #222831; }
    .studentItem .namePart .studentItemName {
      font-size: 14pt; }
    .studentItem .namePart .studentItemId {
      font-size: 10pt; }
  .studentItem:hover {
    text-decoration: none; }
    .studentItem:hover .mask {
      opacity: 1; }

.matterList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row; }

.matterItem {
  color: #222831;
  margin: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .matterItem .imgPart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #f73859; }
    .matterItem .imgPart span {
      font-size: 1.5rem; }
    .matterItem .imgPart .mask {
      border-radius: 50%;
      position: absolute;
      width: 80px;
      height: 80px;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(247, 56, 89, 0.7);
      transition: all ease 0.7s; }
      .matterItem .imgPart .mask span {
        font-size: 1.8rem;
        color: white; }
  .matterItem .namePart {
    font-size: 12pt;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #222831; }
    .matterItem .namePart .trimesterItem {
      color: #d74753; }
    .matterItem .namePart .completed {
      color: #1695d0; }
    .matterItem .namePart .matterName {
      font-size: 14pt; }
  .matterItem:hover {
    color: #222831;
    text-decoration: none; }
    .matterItem:hover .mask {
      opacity: 1; }

.boletin {
  width: 100%; }
  .boletin .boletinHeader {
    display: flex;
    align-items: center;
    flex-direction: row; }
    .boletin .boletinHeader .boletinHeaderCourse, .boletin .boletinHeader .boletinHeaderYear {
      font-size: 16pt;
      margin: 20px; }
    .boletin .boletinHeader .boletinHeaderFirstPart {
      display: flex;
      align-items: center;
      width: 50%; }
    .boletin .boletinHeader .boletinHeaderSecondaryPart {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .boletin .boletinHeader .boletinHeaderSecondaryPart img {
        height: 60px; }
  .boletin .boletinInfo {
    display: flex; }
  .boletin .table th {
    font-weight: normal; }
    .boletin .table th:nth-child(3) {
      font-weight: bolder; }

.boletinCol {
  padding: 0 10px;
  flex: auto; }

.faultsContainer {
  height: 303px; }
  .faultsContainer .faultsList {
    overflow-x: hidden;
    height: 100%;
    margin-bottom: 10px; }
    .faultsContainer .faultsList .faultItem {
      border-bottom: 1px solid #f73859;
      padding: 5px 0;
      display: flex;
      justify-content: space-between; }
      .faultsContainer .faultsList .faultItem .faultDate, .faultsContainer .faultsList .faultItem .faultCombo {
        background: none;
        border: none; }
  .faultsContainer .faultsFooter {
    display: flex;
    justify-content: space-between; }

.sectionMaxHeight {
  height: -webkit-calc(100% - 10px);
  height: -moz-calc(100% - 10px);
  height: calc(100% - 10px); }

.largeInput .rowName {
  border: none !important;
  width: 100% !important; }

.largeInput .rowValue {
  width: 100% !important; }

.bigSizeProfile {
  width: 100px !important;
  height: 100px !important; }

.dontMargin {
  margin: 0 !important; }

.dontHorizontalMargin {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.profileElementContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px; }

.col-centered {
  float: none;
  margin: 0 auto; }

@media (min-width: 0) and (max-width: 992px) {
  .sectionHeader {
    flex-direction: column;
    align-items: flex-start !important; }
    .sectionHeader .actionButtons {
      margin-top: 10px; }
  .rowItem .rowName {
    border: none !important;
    width: 100% !important; }
  .rowItem .rowValue {
    width: 100% !important; } }

@media (max-width: 768px) {
  .faultsContainer {
    height: 340px; }
    .faultsContainer .faultsList {
      height: 303px; } }
